<div class="container-fluid new-blog wrapper">
  <% if current_user %>
    <% if current_user.status == 'admin' %>
      <div class="row">
        <h4>Newsletter Email Subscriptions</h4>
        <div class="col col-xs-6">
          <ul>
            <% @newsletters.each do |newsletter| %>
                <li>
                  <%= newsletter.email %>
                  <% if current_user %>
                    <% if current_user.status == 'admin' %>
                      <div class="pull-right">
                        <i class="fa fa-times"></i> <%= link_to 'Delete This', newsletter, method: :delete, :class => "delete", data: { confirm: 'Are you sure you want to delete this?'} %>
                      </div>
                    <% end %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <h1 class="access">You do not have access to this page.</h1><br />
      <%= link_to root_path do %>
        <i class="fa fa-reply"></i> Back to the main page
      <% end %>
    <% end %>
  <% else %>
    <h1 class="access">You do not have access to this page.</h1><br />
    <%= link_to root_path do %>
      <i class="fa fa-reply"></i> Back to the main page
    <% end %>
  <% end %>
</div>
