<div class="container-fluid wrapper exception">
  <div class="col col-xs-3">
  </div>
  <div class="col col-xs-6">
    <img src="<%= asset_path( 'oo_creeplogo.png' ) %>" /><br /><br />
    <h4>Oh crap, an error. We'll fix this soon.</h4><br />
      <%= content_tag :div, class: "exception", data: { status: @exception.status, response: @exception.response.to_s.humanize, rails: Rails.version }, onclick: "location.href=\"#{root_url}\";" do %>
        <%= content_tag :span, @exception.description.html_safe %> ERROR
      <% end %>
    <button class="btn"><a href="/">Head back to the main page in the mean time.</a></button><br /><br />
    <img src="https://image.flaticon.com/icons/png/512/238/238296.png" /><br />
  </div>
  <div class="col col-xs-3">
  </div>
</div>
