<div class="new-blog container-fluid">
  <% if current_user %>
    <% if current_user.email == 'heyjulieh@gmail.com' || current_user.email == 'jeffl1nen@gmail.com' %>
    <div class="col col-sm-2">
    </div>
    <div class="col col-sm-8">
      <h1>Add New Item</h1>
      <%= render 'form', item: @item %>
    </div>
    <div class="col col-sm-2">
    </div>
    <% else %>
      <h1>You do not have access to this page.</h1><br />
    <% end %>
  <% else %>
    <h1>You do not have access to this page.</h1><br />
  <% end %>
  <%= link_to items_path do%>
    <i class="fa fa-reply"></i> Back to all Items
  <% end %>
</div>
