@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Creepster|Arvo|Roboto:100,300,400,500,700,900|Cutive+Mono|Nanum+Gothic+Coding:400,700|PT+Mono|Permanent+Marker|Share+Tech+Mono|Space+Mono:400,400i,700,700i');

$light-red: #EB5757;
$light-black: #222222;
$jade: #9AC7BA;
$baby-green: #B5DED5;
$pale-green: #DFF6EF;
$goo-green: #6FCF97;


.alert, .notice,  {
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 16px;
  color: $light-red;
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 0px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase !important;
  list-style: none;
}
.access {
  padding-top: 50px;
}
.actions p {
  color: $light-black;
  text-align: left !important;
}
#error_explanation > h2
 {
   background-color: transparent;
   letter-spacing: 1px;
   font-size: 16px;
   color: $light-red;
   text-transform: uppercase;
   padding-top: 50px;
   padding-bottom: 30px;
   padding-left: 15px;
   margin-left: 0px;
   margin-top: 0;
   margin-bottom: 0;
   border-radius: 0px;
   width: 100%;
   text-decoration: none;
   list-style: none;
 }
.alert:empty, .notice:empty {
   display: none;
}
.wrapper {
  min-height: 75vh;
  height: auto !important;
  height: 100%;
  margin-bottom: 40px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100%;
}
.row {
  margin: 0;
}
nav.navbar {
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin: auto;
  .navbar-header {
    height: 80px;
    border-bottom: 0px !important;
  }
  .navbar-default, .navbar-collapse {
    border: 0px !important;
    padding: 20px;
  }
  .nav-alert {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $goo-green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .sign-alert  {
      font-family: 'Share Tech Mono', serif;
      display: inline-block;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      margin: auto;
      font-size: 14px;
      color: $light-black;
    }
  }
  a {
    text-transform: uppercase;
    font-family: 'Share Tech Mono', serif;
    font-weight: 700;
  }
  .navbar-brand, .navbar-brand:visited {
    font-size: 35px;
    letter-spacing: 0px;
    color: $light-black;
    font-weight: 300;
    padding-top: 25px;
    padding-left: 20px;
    .logo {
      height: 45px;
      display: inline-block;
    }
  }
  .navbar-brand:hover {
    color: $goo-green
  }
  a.navbar-nav:hover {
    text-decoration: none;
    color: $goo-green;
  }
  a.navbar-nav:visited, a.navbar-nav:active {
    text-decoration: none;
    border-bottom: 0px;
  }
  a.active {
    text-decoration: none;
    border-bottom: 0px;
  }
  a.sign {
    text-align: center;
    width: 85px;
    display: inline-block;
    background-color: $light-black;
    font-weight: 200px !important;
    color: $goo-green !important;
    margin-left: 15px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    .nav-center {
      width:100%;
      text-align: center;
      margin: 0px;
      padding: 0px;
      > li {
        float: none;
        display: inline-block;
      }
    }
  }
  .cart-icon {
    margin-right: 15px;
  }
  .cart-count {
    color: $light-red;
    font-size: 10px;
    top: -10px;
    position:relative;
    font-family: 'Roboto', sans-serif;
  }
  .cart-count:hover {
    color: $light-black;
  }
  .open > a, .open > a:hover, .open > a:focus {
    background-color: transparent !important;
    color: lightgrey !important;
    margin-left: 25px;
  }
  .dropdown-menu {
    background-color: white;
    color: $light-black;
    padding-left: 25px;
    border: 0px !important;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  }
  .dropdown-menu > li {
    margin: 0px;
    padding-left: 15px;
  }
  .dropdown-menu > li > a {
    color: $light-black;
    background-color: transparent;
    padding: 0px;
  }
  .dropdown-menu > li > a:hover {
    color: $goo-green !important;
    background-color: transparent;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent !important;
    color: grey !important;
  }
  .navbar-toggle {
    border: none;
    background: transparent !important;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 22px;
    &:hover {
      background: transparent !important;
    }
    .icon-bar {
      background-color: $light-black;
      width: 22px;
      transition: all 0.2s;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
  .fa {
    font-size: 18px;
    color: $light-black;
  }
}
.jumbotron {
  background-image: url('https://static1.squarespace.com/static/572cff1f859fd009b42eb945/t/573135cf7c65e4d72b386a2c/1462842836988/Illest-Sneakers-Banner-Content.png?format=1500w');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 90% 50%;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  div {
    padding-left: 15px;
    a {
      h1 {
        color: $light-black;
        text-transform: uppercase;
        letter-spacing: 10px;
      }
      h1:hover {
        color: $light-black;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}

#blog {
  background-image: url('http://www.tor-coatings.com/wp-content/uploads/GraffitiBanner.jpg');
  background-position: 50% 55%;
  h1 {
    color: $light-black;
  }
  h1:hover {
    color: $light-red;
  }
}

.subsection {
  padding-bottom: 50px;
  padding-top: 230px;
  padding-left: 15px;
  margin: auto;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: $light-black;
}
h5 {
  padding-left: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Arvo', sans-serif;
  color: $light-black;
  a, a:visited {
    color: grey;
    padding-bottom: 10px;
  }
  a:hover, a:active, a:focus {
    color: $light-black;
    text-decoration: none;
  }
}
h4 {
  font-family: 'Share Tech Mono';
  font-size: 28px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $light-black;
}
h3.subsection {
  font-family: 'Arvo', serif;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.featured {
  background-color: white;
  width: 100%;
  padding: 0;
  .container {
    margin: 0px;
    padding: 0px;
  }
  .items:hover .item-info{
    visibility: visible;
    opacity: 1;
  }
    .items {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    .col {
      padding: 0px;
      margin: 0px;
    }
    .image-box {
      height: 150px;
      background-color: white;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .item-images {
        img {
          position: relative;
          object-fit: cover;
          display: inline-block;
          height: 150px;
          flex-shrink: 0;
          min-width: 100%;
          min-height: 100%
        }
      }
    }
    .item-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      visibility: hidden;
      opacity: 0;
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;
      height: 150px;
      padding: 7px;
      .price {
        position: absolute;
        right: 0px;
        top: 150px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: $goo-green;
        color: white;
      }
      a {
        color: white;
      }
      a:hover {
        color: white;
        text-decoration: none;
      }
      h5 {
        color: white;
        text-align: left;
        margin: auto;
        padding: 0px;
        text-transform: uppercase;
        font-weight: bold;
      }
      h6 {
        text-transform: uppercase;
        text-align: left;
        font-size: 10px;
      }
      p {
        font-size: 85%;
        text-align: left;
        margin: auto;
        padding: 0px;
        text-transform: uppercase;
      }
    }
  }
}
.show {
  padding-top: 200px;
  background-color: white;
  padding-bottom: 50px;
  height: 90vh;
  .large-image-box {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .show-item-info {
    i {
      color: grey;
      font-weight: 200;
    }

    h3 {
      font-family: 'Arvo', serif;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      color: $light-black;
      letter-spacing: 3px;
    }
    h4 {
      padding-left: 0px;
      margin-left: 0px;
      font-size: 20px;
    }
    h5 {
      font-family: 'Share Tech Mono', serif;
      padding-left: 0px;
      margin-left: 0px;
      font-weight: 400;
    }
    b {
      text-transform: uppercase;
      font-family: 'Share Tech Mono', serif;
      letter-spacing: 1px;
    }
    #price {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
    .btn-danger {
      font-family: 'Arvo', serif;
      display: inline-block;
      padding: 10px;
      margin-top: 15px;
      text-transform: uppercase;
      font-weight: 400;
      background-color: $goo-green;
    }
    a.btn-danger:hover, a.btn-danger:active, a.btn-danger:visited, a.btn-danger:focus {
      text-decoration: none;
      color: $light-black;
    }
    .btn {
      font-family: 'Arvo', serif;
      display: inline-block;
      background-color: $light-black;
      color: white;
      font-weight: 200;
      border-radius: 0;
      letter-spacing: 1px;
    }
    h5 {
      text-transform: uppercase;
    }
    a, a:visited, a:active {
      font-family: 'Share Tech Mono', sans-serif;
      color: $light-black;
      text-transform: lowercase;
    }
    a:hover {
      color: $light-black;
      text-decoration: none;
    }
    .delete:hover {
      text-decoration: line-through;
      color: $light-red;
    }
    i {
      padding-right: 5px;
    }
  }
}
.form {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 200px;
  margin: auto;
  color: $light-black;
  text-transform: uppercase;
  h2 {
    font-family: 'Share Tech Mono', serif;
    display: inline-block;
    letter-spacing: 5px;
    padding-bottom: 20px;
    color: $light-black;
    font-weight: 700;
  }
  h3 {
    font-family: 'Arvo', serif;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }

  label {
    text-transform: capitalize;
    font-weight: 300;
    color: grey;
    margin-left: 5px;
  }
  .col {
    margin: auto;
    padding: 0;
  }
  form {
    background-color: white;
    input {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid lightgrey;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
      padding: 5px;
      font-weight: 300;
      color: black;
    }
    input:focus {
      background-color: #dff5e8;
    }
    #user_remember_me {
      display: inline-block;
      width: 15px;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 30px;
    }

    .letsgo {
      font-family: 'Arvo', serif;
      color: white;
      background-color: $light-black;
      border-radius: 0px;
      border: 0px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px;
      width: 100px;
      margin-top: 20px;
    }

    .letsgo:hover {
      color: $goo-green;
    }
    .date {
      margin-bottom: 20px;
    }
    #pw {
      margin-bottom: 20px;
    }
    i {
      font-size: 10px;
      color: grey;
    }
    select {
      background-color: white;
      color: black;
      font-weight: 300;
      margin-left: 5px;
    }
    .address {
      display: inline-block;
      padding: 0px;
      margin: 0px;
    }
    .actions {
      padding: 0;
      input {
        font-family: 'Arvo', serif;
        color: white;
        background-color: $light-black;
        border: 0px;
        border-radius: 0px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
      }

      input:hover {
        color: $goo-green;
      }
    }
  }
  .fa {
    color: $light-red;
  }
  .back {
    display: inline-block;
    color: $light-red;
    font-size: 11px;
    margin-top: 40px;
    margin-left: 5px;
      a {
      color: grey;
      letter-spacing: 1px;
      padding-bottom: 10px;
      }
      a:hover {
        color: $light-black;
        text-decoration: none;
      }
  }
  .back:hover {
    color: $light-black;
    text-decoration: none;
  }
  p {
    text-transform: lowercase;
    font-weight: 300;
    font-size: 12px;
  }
  #user_password {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #cancel {
    text-transform: none !important;
    margin-top: 30px;
    margin-bottom: 40px;
    p {
      text-transform: none !important;
      margin: 0px;
      padding: 0px 0px 5px 0px;
      font-size: 10px;
    }
    .btn {
      font-family: 'Arvo', serif;
      text-transform: uppercase;
      color: $light-black;
      border-radius: 0px;
      border-bottom: 1px solid lightgrey;
      width: 90px;
      background-color: transparent;
      padding: 0px 0px 5px 0px;
      margin: 0px;
      font-size: 10px;
      text-align: left;
    }
    .btn:hover {
      color: grey;
    }
  }
}
.mycart {
  padding-top: 210px;
  padding-bottom: 50px;
  background-color: white;
  .sample {
    img {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      margin: auto;
      padding: auto;
    }
  }
  p.review {
    letter-spacing: 1px;
    font-family: 'Share Tech Mono', serif;
    font-weight: 200;
  }
  h3 {
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $light-black
  }
  h4 {
    margin-left: 0px;
    padding-left: 0px;
    letter-spacing: 1px;
  }
  h5.no-items {
    font-family: 'Share Tech Mono', serif;
    display:inline-block;
    letter-spacing: 1px;
    color: $light-black;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  h6.no-items {
    font-family: 'Share Tech Mono', serif;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $light-black;
    margin-bottom: 15px;
  }
  .cart-amount {
    text-transform: uppercase;
    letter-spacing: 2px;
    span {
      display: inline-block;
      border-radius: 5px;
      background-color: white;
      color: $light-black;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 5px;
    }
  }
  .cart-item {
    margin-top: 40px;
    .cart-image {
      img {
        width: 100%;
      }
    }
    .cart-info {
      color: $light-black;
      h4 {
        text-transform: uppercase;
        color: $light-black;
        padding-bottom: 0px;
        margin-bottom: 5px;
      }
      h4:hover {
        color: $light-black;
      }
      p {
        font-weight: 200;
        margin-bottom: 5px;
        padding-bottom: 0px;
      }
      .fa {
        display: inline-block;
        color: grey;
      }
      a {
        color: grey;
      }
      a:hover {
        color: $light-black;
        text-decoration: none;
      }
    }
    .cart-money {
      color: black;
    }
  }
  .btn {
    font-family: 'Arvo', serif;
    background-color: $goo-green;
    color: $light-black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius:0px;
    border: 0px;
  }
  .btn:hover {
    color: grey;
  }
  .pull-right {
    text-align: right;
  }
}
.summary_header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  h2 {
    font-family: 'Arvo', serif;
    text-transform: uppercase;
  }
}
.payment {
  background-color: white;
  width: 100%;
  padding-top: 130px;
  .row {
    width: 100%;
    margin-bottom: 40px;
  }
  h2 {
    font-family: 'Arvo', serif;
    text-transform: uppercase;
  }
  h4 {
    margin-left: 0px;
    padding-left: 0px;
  }
  .mbs {
    font-weight: 200;
    font-size: 16px;
  }
  .summary {
    margin-bottom: 50px;
    a {
      text-transform: uppercase;
      color: $light-black;
    }
    a:hover {
      text-decoration: none;
    }
    .price {
      background-color: $light-black;
      color: white;
      width: 100%;
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  form{
    margin-top: 10px;
    margin-bottom: 20px;
    p {
      padding-bottom: 15px;
      font-weight: 200;
      font-size: 16px;
    }
    .customer_form {
      width: 100%;
      margin: 0px 0px 20px 0px;
      padding: 0px;
      font-size: 16px;
      input {
        margin-bottom: 10px;
        border: 0px;
        font-weight: 200;
        border-bottom: 1px solid lightgrey;
        width: 100%;
        padding: 20px 15px 15px 15px;
        margin: 0px;
        color: #283036;
      }
    }
    .btn {
      font-family: 'Arvo', serif;
      margin-top: 20px;
      background-color: $goo-green;
      border-radius: 0px;
      border: 0px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }
    .btn:hover {
      color: grey;
    }
  }
}
.blog {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 60px;
  @media (min-width: 891px) {
    h1 {
      background-color: $light-red;
      color: $light-black;
      padding: 10px;
      top: 5px;
      position: absolute;
      z-index: 10;
    }
    p.content {
      display: inline-block;
      width: 100%;
      height: 300px;
      font-weight: 300;
    }
  }
  h1 {
    color: $goo-green;
    background-color: $light-black;
    padding: 10px;
  }
  h4 {
    display: inline-block;
    height: 100px;
    width: 100%;
    color: $goo-green;
    background-color: $light-black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  a.title, a.title:active, a.title:visited {
    font-family: 'Creepster', serif;
    color: $goo-green;
    text-decoration: none;
  }
  a.title:hover, a.title:focus {
    color: lightgrey;
    padding-bottom: 10px;
  }
  .content {
    .col {
      margin-bottom: 30px;
    }
    p, h6, .pull-right {
      background-color: white;
      padding: 15px;
      margin: auto;
    }
    h6 {
      font-family: 'Share Tech Mono', serif;
      text-transform: uppercase;
      font-size: 10px;
      color: grey;
    }
    .pull-right {
      width: 100%;
      text-align: right;
      font-family: 'Share Tech Mono', serif;
      a, a:visited, a:active {
        color: $light-black;
        text-transform: lowercase;
      }
      a:hover {
        color: $light-black;
        text-decoration: none;
      }
      .delete:hover {
        text-decoration: line-through;
        color: $light-red;
      }
    }
    p {
      a, a:active, a:visited {
        font-family: 'Share Tech Mono', serif;
        text-transform: lowercase;
        color: $goo-green;
      }
      a:hover {
        text-decoration: none;
        color: $light-black;
      }
      .fa {
        color: $goo-green;
      }
    }
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .carousel-control {
    background-image: none;
  }
  .glyphicon {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 50%;
  }
  .glyphicon-triangle-left {
    left: 15%;
  }
  .glyphicon-triangle-right {
    right: 15%;
  }
  .content-area {
  	position: relative;
  	margin: 0 auto;
  }
  .blog-index {
    height: 40vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .show-blog {
    height: 55vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .new-post {
    padding-bottom: 20px;
    text-align: center;
    .btn {
      font-family: 'Arvo', sans-serif;
      background-color: $light-black;
      color: white;
      border-radius: 0px;
      a, a:visited, a:active {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
      }
      a:hover {
        color: $goo-green;
        text-decoration: none;
      }
    }
    .btn:hover {
      color: $goo-green;
    }
  }
}
.new-blog {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  h1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $light-black;
    letter-spacing: 2px;
  }
  li {
    list-style: none;
  }
  .field {
    margin-top: 5px;
    margin-bottom: 10px;
    input, textarea {
      background-color: $goo-green;
      width: 100%;
      border-radius: 0px;
      border: 0px;
      font-weight: 200;
      padding: 5px;
    }
    textarea {
      margin-bottom: 5px;
    }
    label {
      color: $light-black;
      text-transform: uppercase;
    }
  }
  .btn {
    font-family: 'Arvo', serif;
    background-color: $light-black;
    color: white;
    letter-spacing: 1px;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn:hover {
    color: grey;
  }
  a, a:visited, a:active {
    color: $light-black;
    text-transform: lowercase;
    text-decoration: none;
  }
  a:hover {
    color: $light-red;
  }
}

footer {
  padding: 0px;
  margin: 0px;
  h4 {
    padding-bottom: 20px;
  }
  .container {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .instagram {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;

    img {
      width: 100%;
      flex-shrink: 0;
      min-height: auto;
    }
    .col {
      padding:0px;
      margin: 0px;
      overflow: hidden;
    }
    .row {
      width: 100%;
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    span {
      display: inline-block;
      width: 100%;
      font-size: 10px;
      color: lightgrey;
      padding-left: 5px;
    }
  }
  .social {
    background-color: $goo-green;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    .row {
      padding-top: 25px;
      padding-bottom: 25px;
      // display: flex;
      // align-items: center;
    }
    .col {
      text-align: left;
      margin: auto;
      @media (max-width: 768px) {
        .icons {
          text-align: left !important;
          margin: auto;
          width: 250px;
          padding-left: 45px;
        }
      }
      .icons {
        text-align: center;
      }
      .content {
        text-align: left;
        margin: auto;
        width: 250px;
        padding-left: 45px;
      }
    }
    .fa {
      padding-right: 15px;
      font-size: 28px;
      color: $light-black;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a, h5 {
      font-family: 'Share Tech Mono', serif;
      text-transform: uppercase;
      color: $light-black;
      font-size: 14px;
      font-weight: 300;
      padding-left: 0px;
      margin-left: 0px;
      padding-top: 10px;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
    form {
      input {
        border-radius: 0px;
        border: 0px;
        padding: 10px;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 5px;
        font-size: 12px;
      }
      .btn {
        font-family: 'Arvo', serif;
        text-transform: uppercase;
        color: white;
        border-radius: 0px;
        border: 0px;
        background-color: $light-black;
        font-size: 12px;
      }
      .btn:hover {
        color: $goo-green;
      }
    }
  }
  h6 {
    padding-left: 15px;
    padding-right: 15px;
    color: $light-black;
  }
  p {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 50px;
    font-weight: 400;
  }
  .powered {
    text-align: center;
    font-weight: 200;
    padding-right: 0px;
    margin-right: 0px;
  }
}
