<div class="payment container-fluid" id="payment">
  <div class="summary_header">
    <h2>Thank you for your order!</h2><br />
    <h4>You will be receiving a confirmation email shortly.</h4>
  </div>
</div>
<div class="container-fluid wrapper">

  <%= render "layouts/alerts" %>

</div>

<%= render "layouts/footer_no_newsletter" %>
