<%= render "layouts/jumbotron" %>


<div class="payment container" id="payment">
  <div class="summary_header">
    <h2>Thank you for your order!</h2>
    <h4>You will be receiving a confirmation email shortly.</h4>
  </div>
</div>
<%= render "layouts/alerts" %>
<div class="push">

</div>
<footer class="row">

  <h6>All of the items on this site are 100% authentic. All items are marked either new or used, and do list the condition. Please make sure you read the entire description of the specific item before you message me or make your purchase. All sales are final which means NO refunds. Some items do come with receipts; however, this is not guaranteed. If you have any questions or want more information regarding any of the items, please feel free to DM me on instagram, tweet me, or email me. Prices are negotiable to some extent but I usually don’t go any lower since I usually price lower than most sellers.<br /><br />
      Read my blog, follow me on instagram or twitter for the latest news on my favorite drops and things I’m selling. Peace.</h6>
  <br />
  <div class="social">
    <a href="https://www.facebook.com/jeffl1nen"><i class="fa fa-facebook-official"></i></a>
    <a href="https://twitter.com/OpenHouseOG"><i class="fa fa-twitter-square"></i></a>
    <a href="https://instagra.com/l1nerd"><i class="fa fa-instagram"></i></a><br />
  </div>
