<%= render "layouts/jumbotron" %>


<div class="payment container" id="payment">
  <div class="summary_header">
    <h2>Thank you for your order!</h2>
    <h4>You will be receiving a confirmation email shortly.</h4>
  </div>
</div>
<%= render "layouts/alerts" %>
