
<footer class="row">

  <div class="social container">
    <div class="row text-center">
      <div class="col col-xs-12 col-sm-4">
        <div class="icons">
          <span class="align-middle"><a href="https://www.facebook.com/jeffl1nen"><i class="fa fa-facebook-official"></i></a></span>
          <span class="align-middle"><a href="https://twitter.com/OpenHouseOG"><i class="fa fa-twitter-square"></i></a></span>
          <span class="align-middle"><a href="https://instagram.com/l1nerd"><i class="fa fa-instagram"></i></a><br /></span>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-4">
        <div class="content">
          <h5 class=""><a href="/terms">terms & conditions</a></h5>
          <h5 class=""><a href="mailto:gumstore@gmail.com?Subject=Hello">contact us</a></h5>
          <h5 class=""><a href="/about">who is gum?</a></h5>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-4">
      </div>
    </div>
    <p>© GUM Creative 2018</p>
  </div>

</footer>
