<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <%= content_tag :title, "Error - #{@exception.status} (#{@exception.response.to_s.gsub("_", " ").titleize})" %>
    <%= stylesheet_link_tag :exception_handler %>
    <%= favicon_link_tag %>
  </head>

  <!-- Body -->
  <h4>Please excuse the error on this page.</h4>
  <h5><a href="/">Head back to the main page while we fix this error.</a></h5>

  <!-- Footer -->
  <%= render 'layouts/footer_no_newsletter' %>
</html>
